*.iml
.gradle
/local.properties
local.properties
/.idea
.DS_Store
/build
build/
*/build
app/build/
/captures
.externalNativeBuild
.cxx
*.apk
node_modules/
functions/node_modules/
*-debug.log
.firebase/


# Local Firebase Functions configuration can contain deployment secrets.
functions/.env*
!functions/.env.example
