{
  "project_info": {
    "project_number": "123456789012",
    "project_id": "fort-messenger-sample",
    "storage_bucket": "fort-messenger-sample.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:123456789012:android:abcdef0123456789abcdef",
        "android_client_info": {
          "package_name": "com.fort.messenger"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "AIzaSyEXAMPLE_KEY_NOT_FOR_PRODUCTION_USE"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
